body, html {
    height: 100%;
}
.index-bg { 
    background-image: url("../images/home-bg.jpg");
    height: 100%; 
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    /* VANGUARD: */ 
    background-color: rgb(189, 32, 49);
}

.panel {
    text-align: center;
    border: 3px solid #666666;
}

.panel img {
    width: 80%;
    padding-top: 30px;
}

.jumbotron h1 {
    text-align: center;
    background: transparent;
    border-color: transparent; 
}

.modal-header, h4 {
    /* VANGUARD: */ 
    background-color: #FDB813;
    color:white !important;
    text-align: center;
    font-size: 22px;
}

.modal-footer {
    background-color: #f9f9f9;
}
