body, html {
    height: 100%;
}
.index-bg { 
    /* The image used */
    /* background-image: url("../images/bg.jpg"); */
    background-image: url("../images-princesses/home-bg.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue-bg {
    /* background-color: rgb(139, 203, 221); */
    /* background-color: rgb(189, 32, 49); */
    background-color: #B2DFEE;
}

.panel {
    text-align: center;
    border: 3px solid #666666;
}

.panel img {
    width: 80%;
    padding-top: 30px;
}

.jumbotron h1 {
    text-align: center;

    background: transparent;
    border-color: transparent; 
    /* color: white; */
}

.modal-header, h4, .close {
    /* background-color: #FDB813; VANGUARD DANCE TEAM*/
    /* background-color: #FFF68F; */
    background-color: #FCD116;
    color:white !important;
    text-align: center;
    font-size: 22px;
}
.modal-footer {
    background-color: #f9f9f9;
}

/* @media (min-width: 768px) {
    .panel img {
    height: 200px;
    width: 100 px;
    padding-top: 30px;
    }
    
@media (min-width: 480px) {
    .panel img {
    height: 100px;
    width: 50px;
    padding-top: 30px;
    } */

